######################
# NestJS
######################
PORT=3001
SERVICE_VERSION=1.0.0
HOSTNAME=0.0.0.0
NESTJS_LOGS_ENABLED=true
LOG_LEVEL=debug
ENV=local

######################
# Postgres
######################
PGHOST=localhost
PGPORT=5432
PGUSERNAME=postgres
PGPASSWORD=mysecretpassword
PGDATABASE=anime
